*

!.gitignore
!main.go
!go.mod
!docs.excalidraw.png
!README.md
!LICENSE
!go.sum
!release_build.bat
!cloc.md

!constraints
!constraints/**

!http_handler
!http_handler/**

!models
!models/**

!nodes
!nodes/**

!builder
!builder/**

!profiler
!profiler/**

!.github
!.github/**

!dsl
!dsl/**

!runner
!runner/**

